@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

body {
  background-color: rgb(65, 56, 56);
}

.wrapper {
  color: white;
  font-family: sanchez, serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: rgb(65, 56, 56);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

header h1 {
  text-decoration: underline overline red;
  margin: 0;
  padding: 2rem 0;
}

header .score {
  padding-right: 4rem;
}

main {
  /* min-width: 100vw; */
  background-color: rgb(65, 56, 56);
  display: grid;
  gap: 2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(7, auto);
  place-content: center;
}

main .card {
  font-size: 5rem;
  display: grid;
  place-items: center;
}

footer {
  background-color: rgb(65, 56, 56);
  padding: 2rem;
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: underline red;
}

footer a:hover {
  color: red;
  text-decoration: underline red;
}

.card img {
  width: 100px;
}

@media all and (max-width: 840px) {
  .card img {
    width: 80px;
  }
}

@media all and (max-width: 700px) {
  .card img {
    width: 60px;
  }
}

@media all and (max-width: 540px) {
  body {
    font-size: 150%;
  }
  header {
    text-align: center;
    display: block;
  }

  main {
    gap: 1rem;
  }
  .card img {
    width: 50px;
  }
}
